.column.responsive {
  width: 100%;
}

.container.responsive {
  flex-wrap: wrap;
}
/* has to reach atleast 600 before this occurs */
@media only screen and (min-width: 600px) { 
  .column.responsive {
    width: 33%;
  }
}
